
$main-content-margin-left: 9%;
$main-content-line-height: 3;
$main-content-border-color: #ccc;

.container1 {
  align-items: normal;
  display: flex;
  padding: 20px;
}

.intro {
  margin-left: 120px;
  margin-top: 50px;
}

.intro- {
  margin-left: 500px;
  margin-top: 200px;
  color: #5e5c5c;
}


.bf {
  margin-left: 10%;
  margin-top: 5%;
}



.sf1, .sf2 {
  color: #5e5c5c;
  margin-left: 60%;
  margin-top: -8%;
  line-height: $main-content-line-height;
}

.line1, .line2, .line3 {
  width: 75%;
  border-bottom: 1px solid $main-content-border-color;
  margin-top: 6%;
  margin-left: $main-content-margin-left;
 
}

.w2,.w5, 
 .cd2, .cd5 {
  margin-left: 40%; 
}

.w4,.w7,.cd4,.cd7{margin-left: 80%;  }


.w3,.w6,.cd3,.cd6{margin-left: 60%;margin-top: -40px;}

.w1,.cd1{margin-left: 10%;margin-bottom:  -40px; }


.pb4 {
  margin-left: $main-content-margin-left;
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .pb42 {
    margin-left: -75px;
  }

  .pb43 {
    margin-left: -150px;
  }
}

.ccnt {
  margin-left: 55%;
  margin-top: -18%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label,
  input[type="email"],
  input[type="text"],
  textarea {
    width: 500px;
    padding: 5px;
  }
}

.cbtn {
  width: 130px;
  margin-top: 10px;
  background-color: blue;
  color: #fcfcfc;
  border: none;
  height: 50px;
}

.cb2 {
  margin-top: 5%;
  margin-left: $main-content-margin-left;
  width: 100%;
}

.map {
  width: 80%;
}

.img1 {max-width: 1200px;
  max-height: 2500px;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 20px;
  margin-left: 150px;
  margin-top: 100px;
}

.ax1 {
  grid-area: 1 / 1 / 8 / 4;
}

.ax2 {
  grid-area: 21/ 1 / 30 / 4;
}

.ax3 {
  grid-area: 12 / 4 / 22 / 8;
}

.ax4 {
  grid-area: 7 / 1 / 14 / 4;
}

.ax5 {
  grid-area: 1 / 4 / 7 / 8;
}

.ax6 {
  grid-area: 6 / 4 / 15 / 8;
}

.ax7 {
  grid-area: 14 / 1 / 22 / 4;
}

.ax8 {
  grid-area: 20 / 4 / 32 / 8;
}

.ax9 {
  grid-area: 1 / 7 / 8 / 11;
}

.ax10 {
  grid-area: 9 / 7 / 16 / 11;
}

.ax11 {
  grid-area: 15 / 7 / 23 / 11;
}

.ax12 {
  grid-area: 23 / 7 / 32 / 11;
}


.extt{margin-top: -300px;}
